<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyplan -->
      <package
            uri="platform:/plugin/tdt4250.studyplan.model/model/studyplan.ecore"
            class="studyplan.StudyplanPackage"
            genModel="model/studyplan.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated studyplan -->
      <parser
            type="studyplan"
            class="studyplan.util.StudyplanResourceFactoryImpl"/>
   </extension>

</plugin>
